<html>
    <head>
    </head>
    <body>
        <h1>Hello World!</h1>  
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi suscipit dolor quia iure delectus doloremque sed ipsa voluptatem non ratione a at, porro officia. Excepturi, similique quo sit numquam laborum deserunt modi impedit, aperiam maiores omnis harum ab optio aliquam laboriosam ut qui praesentium quaerat in? Dolor magni optio commodi.</p>  
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias provident laboriosam itaque consequuntur eum quisquam ipsa! Praesentium iste culpa nobis eligendi iusto incidunt cumque saepe eius, expedita autem numquam corrupti maiores sunt! Temporibus harum saepe aut cum error delectus ad.</p>  
        <img src="http://www.pudim.com.br/pudim.jpg">  
        <ol>
            <li>aqui vem o primeiro item da lista</li>
            <li>aqui vem o segundo item da lista</li>
        </ol>
    </body>
</html>